<div class="kanyeQuote">
    <h2><%= response.quote %></h2>
    <p> - Kanye West</p>
</div>
<form method="POST" action="/beans/new">
    <div>Name: <input type="text" name="name"></div></br>
    <div>Type: <input type="text" name="type"></div></br>
    <div>How Cool are they?: <input type="number" name="cool"></div></br>
    <input type="submit">
</form>

<% beans.forEach(b => { %>
    <div>
        <a href='/beans/<%= b.id %>'><%= b.name %></a>
        <form method="POST" action="/beans/<%= b.id %>?_method=DELETE">
            <input type="Submit" value="DELETE">
        </form>
    </div>
<% }) %>