Let me tell you about <%= bean.name %>.
First off, they're a <%= bean.type %>, and honestly? They're <% let status = bean.coolness >= 3 ? 'super cool.' : 'fuckin LAYYYYM' %> <%= status %>

<form action="/" method="GET">
    <input type="submit" value="Take me home, please!">
</form>