<h1>YOU HAVE ENTERED THE UNCOOL ZONE</h1>
<h2>MAY YOUR BEANS FOREVER BE WARM</h2>

<h3><%= bean.name %> ranked a measly <span style="font-weight: bold"><%= bean.coolness %></span>?! Why did you even waste your time putting that into the database. WEAK.</h3>


<form action="/" method="GET">
    <input type="submit" value="Take me home, please!">
</form>